*{
    margin: 0;
    padding: 0;
}
body{

    background: black;


}
.main{

    max-width: 570px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-radius: .5rem;

}
.left{
    width: 100%;
}
.left img{
    height: 100%;
    width: 100%;
}
.right{
    height: 490px;
    background: white;
    align-items: center;
}